In [233]:
import sys
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import re

### Data Structures (format to organize and store data)<br>1. list<br>2. sets<br>3. dictionary <br>4. string <br>5. string errors<br>6. regular expression<br>7. find pattern<br>8. split by pattern

## example questions

In [138]:
basket1 = ['apple','banana','orange']
basket2 = ['blueberry','strawberry','raspberry','apple','banana']

1. you have two baskets lists of fruits, remove fruits from basket2 that are present in basket1

In [123]:
basket2_unique = []
for i in basket2:
    if i not in basket1:
        basket2_unique.append(i)
print(basket2_unique)

['blueberry', 'strawberry', 'raspberry', 'pineapple']

In [124]:
basket2_unique = [i for i in basket2 if i not in basket1]
basket2_unique

['blueberry', 'strawberry', 'raspberry', 'pineapple']

In [125]:
for item in basket1:
    if item in basket2:
        basket2.remove(item)
basket2

['blueberry', 'strawberry', 'raspberry', 'pineapple']

2. Transfer fruits from basket1 to basket2

In [145]:
combined_basket = list(set(basket1).union(set(basket2)))
combined_basket

['raspberry', 'strawberry', 'apple', 'blueberry', 'banana', 'orange']

In [147]:
A = {1, 2, 3, 4, 5, 6, 7}
B = {5, 7, 9, 11, 13, 15}
C = {1, 2, 8, 10, 11, 12, 13, 14, 15, 16, 17}
D = {1, 3, 5, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
E = {9, 10, 11, 12, 13, 14, 15}

3. What is the result of the following expression?<br> (the union between A and (the intersection between B and C)) - (the intersection between D and E)

In [148]:
set(A).union((set(B).intersection(set(C)))) - set(D).intersection(set(E))

{1, 2, 3, 4, 5, 6, 7}

4. create a dictionary that stores the mapping from the pair of coordinates to the coordinate (the lists storing considered ranges for and are given: range_x and range_y, respectively). The relationship between X, Y, Z is x^2 + y^2 = z, what is the z value for (1.8,1.4) coordinates

In [149]:
range_x = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0]
range_y = [0.0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0]

In [153]:
new_dict = {}
for i in range_x:
    for y in range_y:
        new_dict[(i, y)] = i**2 + y**2
new_dict[(1.8,1.4)]

5.2

5. You are presented with one of the earliest known encryption techniques - Caesar cipher. It is based on a simple shift of each letter in a message by a certain number of positions down the given alphabet. For example, given the English alphabet, a shift of 1 for 'xyz' would imply 'yza' and vice versa in case of decryption. Notice that 'z' becomes 'a' in this case. Thus, encryption/decryption requires two arguments: text and an integer key denoting the shift (key = 1 for the example above).Your task is to create an encryption function given the English alphabet stored in the alphabet string.

In [3]:
alphabet = "abcdefghijklmnopqrstuvwxyz"

In [4]:
def encrypt(text, key):
  
    encrypted_text = ''

    # Fill in the blanks to create an encrypted text
    for char in text.lower():
        idx = (alphabet.index(char) + key) % len(alphabet)
        encrypted_text = encrypted_text + alphabet[idx]

    return encrypted_text

In [6]:
# Check the encryption function with the shift equals to 10
print(encrypt("xyz", 10))

hij

In [209]:
# Check the encryption function with the shift equals to 10
print(encrypt("datacamp", 10))

nkdkmkwz

6. decryption function is only different by the line you fixed in the for loop. What would be the corresponding change in the decrypt() function?

In [210]:
def decrypt(text, key):
  
    decrypted_text = ''

    # Fill in the blanks to create an encrypted text
    for char in text.lower():
        idx = (alphabet.index(char) - key) % len(alphabet)
        decrypted_text = decrypted_text + alphabet[idx]

    return decrypted_text

In [211]:
# Check the encryption function with the shift equals to 10
print(decrypt("nkdkmkwz", 10))

datacamp

7. modify the text1 to text2

In [213]:
text1 = 'StRing ObJeCts haVe mANy inTEResting pROPerTies'
text2 = 'string OBJECTS have MANY interesting PROPERTIES'

In [226]:
split_text = text1.split(' ')
split_string = [split_text[0].lower(), split_text[1].upper(), split_text[2].lower(), split_text[3].upper(), split_text[4].lower(), split_text[5].upper()]
combined_split_string = ' '.join(split_string)
combined_split_string

'string OBJECTS have MANY interesting PROPERTIES'

In [228]:
split_text = text1.split(' ')
for i in range(len(split_text)):
    if i % 2 == 0:
        split_text[i] = split_text[i].lower()
    else:
        split_text[i] = split_text[i].upper()
split_text
combined_split_string = ' '.join(split_string)
combined_split_string

'string OBJECTS have MANY interesting PROPERTIES'

8. You are given the heroes dataset containing the information on different comic book heroes. However, you'll need to make some refinements in order to use this dataset further. Comparing Eye color, Hair color, and Skin color columns, you can see that strings in the Hair color columns are capitalized, whereas in other two the strings are lowercased. Moreover, some rows in the Gender column contain a spelling error (Fmale instead of Female). Your task is to make the strings in the Hair color column lowercased and to fix the spelling error in the Gender column.

In [ ]:
# Make all the values in the 'Hair color' column lowercased
heroes['Hair color'] = heroes['Hair color'].str.lower()
  
# Check the values in the 'Hair color' column
print(heroes['Hair color'].value_counts())

# Substitute 'Fmale' with 'Female' in the 'Gender' column
heroes["Gender"] = heroes["Gender"].str.replace("Fmale","Female")

# Check if there is no occurences of 'Fmale'
print(heroes['Gender'].value_counts())

9. Your task is to create a regular expression matching a valid temperature represented either in Celsius or Fahrenheit scale (e.g. '+23.5 C', '-4 F', '0.0 C', '73.45 F') and to extract all the appearances from the given string text. Positive temperatures can be with or without the + prefix (e.g. '5 F', '+5 F'). Negative temperatures must be prefixed with -. Zero temperature can be used with a prefix or without.

In [266]:
text = "Let's consider the following temperatures using the Celsius scale: +23 C, 0 C, -20.0 C, -2.2 C, -5.65 C, 0.0001 C. To convert them to the Fahrenheit scale you have to multiply the number by 9/5 and add 32 to the result. Therefore, the corresponding temperatures in the Fahrenheit scale will be: +73.4 F, 32 F, -4.0 F, +28.04 F, 21.83 F, +32.00018 F."

In [271]:
# Define a pattern to search for valid temperatures in text
pattern = re.compile(r'[+-]?\d+\.?\d* [CF]')

# Print the temperatures out
print(re.findall(pattern, text))

# Create an object storing the matches using 'finditer()'
matches_storage = re.finditer(pattern, text)

# Loop over matches_storage and print out item properties
for match in matches_storage:
    print('matching sequence = ' + match.group())
    print('start index = ' + str(match.start()))
    print('end index = ' + str(match.end()))

['+23 C', '0 C', '-20.0 C', '-2.2 C', '-5.65 C', '0.0001 C', '+73.4 F', '32 F', '-4.0 F', '+28.04 F', '21.83 F', '+32.00018 F']
matching sequence = +23 C
start index = 67
end index = 72
matching sequence = 0 C
start index = 74
end index = 77
matching sequence = -20.0 C
start index = 79
end index = 86
matching sequence = -2.2 C
start index = 88
end index = 94
matching sequence = -5.65 C
start index = 96
end index = 103
matching sequence = 0.0001 C
start index = 105
end index = 113
matching sequence = +73.4 F
start index = 295
end index = 302
matching sequence = 32 F
start index = 304
end index = 308
matching sequence = -4.0 F
start index = 310
end index = 316
matching sequence = +28.04 F
start index = 318
end index = 326
matching sequence = 21.83 F
start index = 328
end index = 335
matching sequence = +32.00018 F
start index = 337
end index = 348

10. You visit a website and it asks you to fill in a registration form. The username section requires you to choose a name between 3 and 16 characters long. It can only include alphanumeric characters (no capital letters), hyphens, and underscores. Which of the following patterns will your input be matched against? The symbols ^ and $ were not discussed in the video lecture: they simply indicate the beginning and end of a line (in this case, the beginning and end of the chosen username).

In [ ]:
^[a-z0-9_-]{3,16}$

11. You are given the movies list where each element stores a movie name, its release date, and the director (e.g. "The Godfather, 1972, Francis Ford Coppola"). Let's practice some splitting with the help of regular expressions. Your task is to retrieve from each element of the list its name and the director. For example, if the element is "The Godfather, 1972, Francis Ford Coppola", the result would be:
['The Godfather', 'Francis Ford Coppola'] Eventually, this result should be modified to represent a single string, e.g. "The Godfather, Francis Ford Coppola"

In [277]:
movies = ['1984, 1984, Michael Radford',
 'The Good, the Bad and the Ugly, 1966, Sergio Leone',
 'Terminator 2: Judgment Day, 1991, James Cameron',
 "Harry Potter and the Philosopher's Stone, 2001, Chris Columbus",
 'Back to the Future, 1985, Robert Zemeckis',
 'No Country for Old Men, 2007, Joel Coen, Ethan Coen']

In [280]:
# Compile a regular expression
pattern = re.compile(r', \d{4}, ')

movies_without_year = []
for movie in movies:
    # Retrieve a movie name and its director
    split_result = re.split(pattern, movie)
    # Create a new string with a movie name and its director
    movie_and_director = ', '.join(split_result)
    # Append the resulting string to movies_without_year
    movies_without_year.append(movie_and_director)
    
for movie in movies_without_year:
    print(movie)

1984, Michael Radford
The Good, the Bad and the Ugly, Sergio Leone
Terminator 2: Judgment Day, James Cameron
Harry Potter and the Philosopher's Stone, Chris Columbus
Back to the Future, Robert Zemeckis
No Country for Old Men, Joel Coen, Ethan Coen

### List - an ordered mutable sequence of items (e.g. numbers, strings etc.)

In [19]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [100]:
2 in my_list

True

accessing items (python indexing from 0)

In [3]:
print(my_list[0])

1

In [4]:
print(my_list[-1])

5

slicing (the item on the right hand side is not included)

In [5]:
print(my_list[1:3])

[2, 3]

In [6]:
print(my_list[2:])

[3, 4, 5]

modifying items

In [7]:
my_list[0] = 100
print(my_list)

[100, 2, 3, 4, 5]

In [8]:
my_list[:2] = [90,900]
print(my_list)

[90, 900, 3, 4, 5]

methods:<br> append(): append at the end<br>insert(): insert a number at a index<br>pop(): remove an item at the end, or remove a number at a index<br> remove(): remove a value<br> count(): count how many items in a list<br> count(): count how many occurance of a value in the list <br> sort(): sorting a list by value in ascending order <br> reverse(): sorting a list in descending order<br>clear(): empty a list<br> extend(): append a list at the end of a list

In [9]:
my_list.append(1000)
print(my_list)

[90, 900, 3, 4, 5, 1000]

In [10]:
my_list.insert(1, 999)
print(my_list)

[90, 999, 900, 3, 4, 5, 1000]

In [11]:
my_list.pop(1)
print(my_list)

[90, 900, 3, 4, 5, 1000]

In [12]:
my_list.remove(1000)
print(my_list)

[90, 900, 3, 4, 5]

In [13]:
my_list.pop()
print(my_list)

[90, 900, 3, 4]

In [15]:
my_list.count(900)

1

In [16]:
my_list.sort()
print(my_list)

[3, 4, 90, 900]

In [17]:
my_list.reverse()
print(my_list)

[900, 90, 4, 3]

In [20]:
my_list.clear()
print(my_list)

[]

In [21]:
my_list.extend([1, 2, 3, 4, 5])
print(my_list)

[1, 2, 3, 4, 5]

In [55]:
list1 = [10, 15, 20, 25, 30, 35, 40]
list2 = [25, 40, 35]

#### *Find items in List1 but not in List2

In [56]:
diff_list = []
for i in list1:
    if i not in list2:
        diff_list.append(i)
print(diff_list)

[10, 15, 20, 30]

In [58]:
temp3 = [x for x in list1 if x not in list2]
print(temp3)

[10, 15, 20, 30]

In [60]:
li1 = np.array(list1)
li2 = np.array(list2)
dif1 = np.setdiff1d(li1, li2)
dif2 = np.setdiff1d(li2, li1)
temp3 = np.concatenate((dif1, dif2))
print(list(temp3))

[10, 15, 20, 30]

In [61]:
print(dif1)

[10 15 20 30]

In [62]:
print(dif2)

[]

### Tuple - an ordered immutable (cannot modify) sequence of items (e.g. numbers, strings, etc.)

In [27]:
my_tuple = (1, 'apple',2,'banana',1)
print(my_tuple)

(1, 'apple', 2, 'banana', 1)

In [28]:
my_tuple = 1, 'apple',2,'banana',1
print(my_tuple)

(1, 'apple', 2, 'banana', 1)

In [101]:
2 in my_tuple

True

In [29]:
print(my_tuple[0])

1

In [30]:
print(my_tuple[2:])

(2, 'banana', 1)

### Set - an unordered collection with no duplicate items (e.g. numbers, strings, etc.)

In [31]:
my_set = set([1, 2, 3, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [34]:
my_set = set([1, 1, 1, 2, 3, 4, 5, 5, 5])
print(my_set)

{1, 2, 3, 4, 5}

In [103]:
1 in my_set

True

In [35]:
print(my_set[1])

TypeError: 'set' object is not subscriptable

add(): add item to set<br> remove(): remove item from set <br> union(): combine two sets

In [36]:
my_set1 = set([1, 2, 3, 4, 5])
my_set2 = set([4, 5, 6, 7, 8])

In [37]:
my_set1.add(6)
print(my_set1)

{1, 2, 3, 4, 5, 6}

In [38]:
my_set1.remove(2)
print(my_set1)

{1, 3, 4, 5, 6}

In [39]:
my_set1.union(my_set2)

{1, 3, 4, 5, 6, 7, 8}

In [41]:
my_set3 = my_set1.union(my_set2)
print(my_set3)

{1, 3, 4, 5, 6, 7, 8}

In [42]:
my_set1.intersection(my_set2)

{4, 5, 6}

In [43]:
my_set1.difference(my_set2)

{1, 3}

In [44]:
my_set1.update(my_set2)

In [45]:
my_set1

{1, 3, 4, 5, 6, 7, 8}

In [47]:
my_set2

{4, 5, 6, 7, 8}

In [64]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

# Convert lists to sets
set1 = set(list1)
set2 = set(list2)

# Intersection (common elements)
intersection = set1 & set2
print(list(intersection))  # Output: [3, 4]


# Union (all unique elements)
union = set1 | set2
print(list(union))  # Output: [1, 2, 3, 4, 5, 6]

# Difference (elements in set1 not in set2)
difference = set1 - set2
print(list(difference))  # Output: [1, 2]

[3, 4]
[3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2]

### *How do you find the common between two lists in Python?

In [65]:
# Using set intersection
common_elements = list(set(list1) & set(list2))
print(common_elements)  # Output: [3, 4]

[3, 4]

### *Can you subtract two lists in Python?

In [66]:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

# Subtract lists using set difference
result = list(set(list1) - set(list2))
print(result)  # Output: [1, 2]

[1, 2]

### *What are 3 different ways to combine 2 lists in Python?

In [67]:
combined = list1 + list2

In [68]:
list1.extend(list2)

In [69]:
combined = [(x, y) for x, y in zip(list1, list2)]

### Dictionary - a collection of key-value pairs where keys re unique and immutable

In [72]:
fruits = {'apple': 1, 'banana': 6, 'orange': 3}
print(fruits)

{'apple': 1, 'banana': 6, 'orange': 3}

In [73]:
fruits = dict([('apple', 1), ('banana', 6), ('orange', 3)])
print(fruits)

{'apple': 1, 'banana': 6, 'orange': 3}

In [102]:
'apple' in fruits

True

access value by key

In [74]:
fruits['apple']

1

In [75]:
fruits['grapefruit']

KeyError: 'grapefruit'

modify the value by re-assign the value

In [76]:
fruits['apple'] = 10
print(fruits)

{'apple': 10, 'banana': 6, 'orange': 3}

adding new key-value pair

In [77]:
fruits['grapefruit'] = 11
print(fruits)

{'apple': 10, 'banana': 6, 'orange': 3, 'grapefruit': 11}

In [78]:
fruits.items()

dict_items([('apple', 10), ('banana', 6), ('orange', 3), ('grapefruit', 11)])

In [79]:
list(fruits.items())

[('apple', 10), ('banana', 6), ('orange', 3), ('grapefruit', 11)]

In [80]:
fruits.keys()

dict_keys(['apple', 'banana', 'orange', 'grapefruit'])

In [81]:
fruits.values()

dict_values([10, 6, 3, 11])

In [82]:
list(fruits.keys())

['apple', 'banana', 'orange', 'grapefruit']

In [83]:
list(fruits.values())

[10, 6, 3, 11]

remove a key-value pair

remove the last key-value pair

In [98]:
fruits = {'apple': 10, 'banana': 6, 'orange': 3, 'grapefruit': 11}
fruits.popitem()
print(fruits)

{'apple': 10, 'banana': 6, 'orange': 3}

In [96]:
fruits = {'apple': 10, 'banana': 6, 'orange': 3, 'grapefruit': 11}
fruits.pop('apple')
print(fruits)

{'banana': 6, 'orange': 3, 'grapefruit': 11}

In [99]:
fruits = {'apple': 1, 'banana': 2, 'cherry': 3}
fruits.pop('banana')
print(fruits)

{'apple': 1, 'cherry': 3}

## Strings

### create strings

In [154]:
s = 'hello'
S = "HELLO"
print(s)
print(S)

hello
HELLO

In [155]:
str("hello")

'hello'

In [156]:
str(11.5)

'11.5'

In [157]:
str([1,2,3])

'[1, 2, 3]'

In [176]:
l = ['I', 'like', 'to', 'study']
s = ','.join(l)
print(s)

I,like,to,study

In [178]:
s = '\t'.join(l)
print(s)

I	like	to	study

In [179]:
s = ' '.join(l)
print(s)

I like to study

In [180]:
l = s.split(' ')
print(l)

['I', 'like', 'to', 'study']

In [183]:
d = {'name': ['john', 'amandad'], 'age': [35, 29]}
D = pd.DataFrame(d)
print(D)

      name  age
0     john   35
1  amandad   29

In [185]:
D['name'] = D['name'].str.capitalize()
D

      name  age
0     John   35
1  Amandad   29

### access the characters using index

In [158]:
S[1]

'E'

In [159]:
s[-2]

'l'

In [160]:
s[1:3]

'el'

In [161]:
s[:2]

'he'

In [163]:
s[2:]

'llo'

### index(). only the lowest index will be returned

In [165]:
s.index('l')

2

In [166]:
S.index('L')

2

### strings are immutable, but there are methods to editing it

In [171]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [167]:
s.capitalize()

'Hello'

In [168]:
S.lower()

'hello'

In [169]:
s.upper()

'HELLO'

In [170]:
s.replace('l', 'L')

'heLLo'

### string concatencation

In [172]:
s1 = "worm"
s2 = s1 + "hole"
print(s2)

wormhole

In [173]:
s1 = 'a dog ate my food'
s2 = s1.replace('dog','cat')
print(s2)

a cat ate my food

### Regular Expression - a sequence of special characters (metacharacters) defining a pattern to search in a text <br>
I. simple characters and numbers are mapped onto themselves (a,A,1)<br>
-- "\." maps to anything. <br>
II. some metacharacters represent \ followed by a letter: <br>
-- "\w" map to any alphanumeric character or undercase like '1', 'a', '_'<br>
-- "\d" map to any digit like '1' '2' '3'<br>
-- "\s" map to any whitespace character like ' ' '\t'<br>
III. several metacharacters can be enclosed in sequare brackets:<br>
-- [aAbB] map to either of the characters enclosed a, A, b, B <br>
-- [a-z] map to all lower case characters <br>
-- [A-Z] map to all upper case characters <br>
-- [0-9] map to all digits <br>
-- [A-Za-z] map to A, B, C, ..., a, b, c<br>
IV. Repetitions<br>
-- * means no character of it repeats an undefined number of times; a* maps to '', 'a', 'aa', ...<br>
-- + means to characters is present at least once; a+ maps to 'a' 'aa' 'aaa' , ...<br>
-- ? means the character exists or not; a? maps to '', 'a'<br>
-- {n,m} means the character is present from n to m times; {2,4} maps to 'aa', 'aaa', 'aaaa'<br>

#### *Find all emails from a string

In [258]:
text = "john.smith@mailbox.com is the email of John. He often writes to his boss at boss@company.com. But the messages get forwards to his secretary at info@company.com"
text

'john.smith@mailbox.com is the email of John. He often writes to his boss at boss@company.com. But the messages get forwards to his secretary at info@company.com'

In [259]:
pattern = re.compile(r'[\w\.]+@[a-z]+\.[a-z]+')

In [255]:
result = re.finditer(pattern, text)
print(result)

<callable_iterator object at 0x74d662948c40>

In [251]:
for match in result:
    print(match)

<re.Match object; span=(0, 22), match='john.smith@mailbox.com'>
<re.Match object; span=(76, 92), match='boss@company.com'>
<re.Match object; span=(144, 160), match='info@company.com'>

In [256]:
for match in result:
    print(match.group())
    print(match.start())
    print(match.end())

john.smith@mailbox.com
0
22
boss@company.com
76
92
info@company.com
144
160

### * Match sub-strings, return matcges

In [261]:
substrings = re.findall(pattern, text)
print(substrings)

['john.smith@mailbox.com', 'boss@company.com', 'info@company.com']

### *return strings by matching

In [262]:
split_list = re.split(pattern, text)
print(split_list)

['', ' is the email of John. He often writes to his boss at ', '. But the messages get forwards to his secretary at ', '']